
$theme-colors: (
	'primary': #FFB454,
	'secondary': #47BACC,
	'success': #E6E1CF,
	'info': #FF8F40,
	'danger': #F07178,
	'light': #59C2FF,
	'dark': #0F1419,
);
$headings-color: #55B4D4;
$body-color: #5C6166;
$body-gb: #F3F4F5;
@import "../node_modules/bootstrap/scss/bootstrap";

.entry {
  background-color: #8A91991A;
}
.entrydesc {
  background-color: #8A91992E;
}
.round-edges {
  border-radius: 10px;
  border: solid 1px #4CBF99;
}
header {
  background-color: #399EE6;
  --bs-heading-color: #F3F4F5;
}
.aquarium-header {

  background-color: #399EE6;
  border-radius: 10px 10px 0px 0px;
  padding-left: 10px;
  --bs-heading-color: #F3F4F5;
}
.aquarium-header-secondary {

  background-color: #399EE6;
  color: #F3F4F5;
  border-bottom: 1px solid #478ACC;
}
.aquarium-header.btn {
  color: #F3F4F5;
}
.attention-good {
  background-color: #FFAA33;
  color: #F3F4F5;
  font-weight: bold;
}
.attention-good.entrydesc {
  background-color: #E6BA7E;
}
.attention-bad {
  background-color: #E65050;
  color: #F3F4F5;
  font-weight: bold;
}
.attention-bad.entrydesc {
  background-color: #FF7383;
}
